# Virtual env
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets
.env

# Musicophile Mobile
musicophile-mobile/

# Jupyter
.ipynb_checkpoints/

# Large artifacts / datasets
backend/artifacts/
*.npy
*.npz
*.parquet
*.index
