# dependencies / caches
node_modules
.expo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local tooling
.vscode
.DS_Store
.git
.gitignore

# generated native folders (HUGE)
android
ios

# anything not needed for mobile build
../backend
backend
**/*.zip

node_modules/
node_modules/**
.expo/
.expo/**
android/
android/**
ios/
ios/**
